<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Pricing - Logis Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
<%- include ('../menu.html') %>
</head>

<body class="pricing-page">

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>상품 목록</h1>
        <p>예금,적금,펀드,청약,대출 상품을 소개합니다</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.ejs">Home</a></li>
            <li class="current">상품 목록</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">
      <% for(let i = 0; i < data.length; i++){ %>
      <!-- End Section Title -->
      
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="product">
              <h3><%= data[i].type %></h3>
              <h4><sup>%</sup><%= data[i].rate %><span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check" name="period"></i> <span><%= data[i].period %></span></li>
                <li><i class="bi bi-check" name="feature"></i> <span><%= data[i].feature %></span></li>
                <li class="na"><i class="bi bi-x"name="except"></i> <span><%= data[i].except %></span></li>
              </ul>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div><!-- End Pricing Item -->
          <% } %>

        </div>

      </div>

    </section><!-- /Pricing Section -->

    
  </main>

  <%- include ('../footer.html') %>

</body>

</html>